<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="icon" href="./assets/icons/book50.png">
    <link rel="stylesheet" href="./styles/index.css">
    <title>ibook</title>
</head>
<body>
    <div class="index-wrapper">
        <div class="index-title">
            <img src="./assets/icons/book100.png">
            <h1 class="index-title">ibook</h1>
        </div>
        <div class="index-container">
            <h1>Как вы хотите войти?</h1>
            <div class="choice-container">
                <a href="./html_min/admin/admin_main.html"><div class="admin item">Администратор</div></a>
                <a href="./html_min/customer/customer_main.html"><div class="customer item">Покупатель</div></a>
            </div>
        </div>
    </div>
</body>
</html>