body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(78, 1, 78);
}

.index-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    gap: 20px;
    font-size: 74px;
    font-weight: bold;
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 50px;
}

.index-container h1{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
    font-weight: bold;
}

.choice-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.item{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.admin{
    font-size: 30px;
    font-weight: bold;
    border: 1px solid rgb(54, 12, 112);
    box-shadow: -2px 2px 1px 1px rgb(45, 0, 83);
}

.customer{
    font-size: 30px;
    font-weight: bold;
    border: 1px solid rgb(54, 12, 112);
    box-shadow: 2px 2px 1px 1px rgb(45, 0, 83);
}