<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ibook</title>

    <meta content="" name="description">
    <meta content="" name="keywords">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="icon" href="../../assets/icons/book50.png">
    <link rel="stylesheet" href="../../styles/admin-page.css">
    <link rel="stylesheet" href="../../styles/core.css">
</head>
<body>
    <div class="wrapper">
        <header class="align">
            <div class="align header-left">
                <div class="align title-admin">
                    <div class="align title">
                        <a href="./admin_main.html"><img src="../../assets/icons/book50.png"></a>
                        <h2>ibook</h2>
                    </div>
                </div>

                <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="header-search">
                <form>
                    <input type="search">
                </form>
            </div>
            <div class="align admin-area">dsa</div>

        </header>
    </div>

    <script src="../../scripts_min/admin/admin-main.min.js"></script>
</body>
</html>